.containerLogin .containerFormulario form .erro {
  margin-top: 0; }

.containerLogin .containerFormulario form .inputs {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .containerLogin .containerFormulario form .inputs input {
    margin: 0.5rem; }
