//gradientes
$background-gradiente: linear-gradient(25deg, #11062d, #48112e, #7a162d, #af1a2b);
$background-blur: rgba(255, 255, 255, 0.25);
$

//Cores principais 

$branco-transparente: rgba(255, 255, 255, 0.5);
