//gradientes
$background-gradiente: linear-gradient(25deg, #11062d, #48112e, #7a162d, #af1a2b);
$background-blur: rgba(255, 255, 255, 0.25);
$gradiente-botao: linear-gradient(90deg, rgba(17,6,45,1) 6%, rgba(22,21,73,1) 26%, rgba(27,34,88,1) 46%, rgba(175,26,43,1) 100%);

//background apresentação
$background-apresentacao: linear-gradient(178.17deg, rgba(255, 255, 255, 0.195) 49.92%, rgba(255, 255, 255, 0) 97.16%), url(../../../../public/img/duotone-computador.png);



//Cores principais 
$branco-transparente: rgba(255, 255, 255, 0.5);
