//gradientes
$background-gradiente: linear-gradient(25deg, #11062d, #48112e, #7a162d, #af1a2b);
$background-blur: rgba(255, 255, 255, 0.25);
$gradiente-botao: linear-gradient(90deg, rgba(17,6,45,1) 6%, rgba(22,21,73,1) 26%, rgba(27,34,88,1) 46%, rgba(175,26,43,1) 100%);

//background apresentação
$background-apresentacao: linear-gradient(178.17deg, rgba(255, 255, 255, 0.195) 49.92%, rgba(255, 255, 255, 0) 97.16%), url(../../../../public/img/duotone-computador.png);



//Cores principais 
$branco-transparente: rgba(255, 255, 255, 0.5);
$branco-transparente-fonte: rgba(255, 255, 255, 0.8);
$branco-input: rgba(255, 255, 255, 0.5);
$cor-botao: rgba(17, 6, 45, 1);
$azul-700: #11062D;
$azul-600:  #150F3B;
$azul-500: #161549;
$azul-400: #1B2258;


//Fontes
@font-face {
    font-family: 'Roboto';
    src: url('../../../public/fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../../public/fonts/Montserrat/Montserrat-SemiBold.ttf');
}


$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;

//Mixing display flex - row
@mixin flex () {
    display: flex;
    justify-content: center;
    align-items: center;
}

//Mixing display flex - Column
@mixin flexColumn () {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}